#session-time-h2 {
    position: absolute;
    color: white;
    opacity: 0.6;
    font-size: 1.2vw;
    width: 12vw;
    padding-left: 3vw;
    padding-top: 4vh;
    line-height: 4vh;
    font-weight: lighter;
}

#line-tooltip {
    background-color: white;
    color: black;
    width: 4vw;
    height: 5vh;
    margin-bottom: 200px;
    padding: 0;
}

.x-axis {
    transform: scaleX(2);
  }