body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  font-weight: 500;
}
 
#wrapper {
  padding: 50px 90px 88px 224px;
}

main {
  display: flex;
  column-gap: 30px;
}

#left-side {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

#right-side {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.bottom-cards {
  width: calc(100% / 3);
  background-color: var(--secondary);
  margin-right: 30px;
  border-radius: 5px;
}

.bottom-cards:nth-child(1) {
  background-color: var(--primary);
}

.bottom-cards:nth-child(2) {
  background-color: #282D30;
}

.bottom-cards:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.bottom-cards:nth-child(3) {
  margin-right: 0;
}

#bottom-graphs {
  display: flex;
}

.macro-cards {
  background-color: var(--secondary);
  /* height: calc(100% / 4 - 30px); */
  width: 20vw;
  /* margin-bottom: 40px; */
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  flex-basis: 25%;
}

@media (max-width: 1500px) {
  main {
    flex-direction: column;
    row-gap: 30px;
  }

  #right-side {
    flex-direction: row;
    column-gap: 40px;
  }

  .macro-cards {
    height: 24vh;
  }


}